body {
    font-family: 'Indie Flower', cursive;
    background-color: #ffecf2; /* light pink */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: #d81b60; /* dark pink */
}

.choices button {
    font-family: 'Indie Flower', cursive;
    margin: 20px;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #d4554c; /* red */
    color: white;
}

.choices button:hover {
    background-color: #8d3434; /* dark red */
}

.heart {
    font-size: 36px;
    color: #d81b60; /* dark pink */
    margin-top: 20px;
    display: none;
}
.no{
    font-size: 100px;
}
img{
    height: 290px;
    position: absolute;
    display: flex;
    margin-top: 5%;
}
